.navWrapper {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  padding: 20px;
  margin-bottom: 10px;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}
.space {
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
}
.space > p {
  position: relative;
  top: -15%;
  width: 100%
}
.playerInfoContainer {
  height: 10%;
  display: flex;
  margin-top: 75px;
  justify-content: center;
  align-items: baseline;
  position: relative;
  top: -59px
}

.topRow, .bottomRow {
  display: grid;
  grid-template-rows: 120px;  
  grid-template-columns: 120px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 120px;
  border: 1px solid black;
}
.middleNine {
  /* eight 9x2 with grid column gap @ 960px */
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px;
  grid-column-gap: 960px;
}
.middleNine> div, .topRow > div, .bottomRow > div {
  border: 2px solid black;
  text-align: center;
  font-size: 11;
  background-color: rgb(194,226,196);
}
div > p {
  font-size: 10px;
}#mediterraneanAve, #balticAve {
  background-color: rgb(129,66,41);
  color: white
}
#orientalAve, #vermontAve, #connecticutAve {
  background-color: rgb(156,217,248);
}
#stCharlesPlace, #statesAve, #virginiaAve {
  background-color: rgb(206,29,132);
  color: white
}
#stJamesPlace, #tennesseeAve, #newYorkAve {
  background-color: rgb(242,129,24);
}
#kentuckyAve, #indianaAve, #illinoisAve {
  background-color: rgb(232,0,28);
  color: white
}
#atlanticAve, #ventnorAve, #marvinGardens {
  background-color: rgb(253,242,12);
}
#pacificAve, #northCarolinaAve, #pennAve {
  background-color: rgb(32,166,73);
}
#parkPlace, #boardWalk {
  background-color: rgb(11, 93, 171);
  color: white
}
#go {
  background-image: url('./images/square/newgo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#ventureFund {
  background-image: url('./images/square/communitychest.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#boRailroad, #readingRailroad, #pennRailroad, #shortLineRailroad {
  background-image: url('./images/square/train.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#inJail {
  background-image: url('./images/square/injail.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#electricCompany {
  background-image: url('./images/square/electric.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#luxuryTax {
  background-image: url('./images/square/luxury.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#freeParking {
  background-image: url('./images/square/freeparking.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#sharkTank {
  background-image: url('./images/square/chance.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#incomeTax {
  background-image: url('./images/square/incometax.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#waterWorks {
  background-image: url('./images/square/waterworks.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#goToJail {
  background-image: url('./images/square/gotojail.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#playerIcon1 {
  background-color: rgb(204,38,62);
  background-image: url('./images/pieces/p1.png');
  height: 20px;
  width: 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  border-radius: 50%;
  position: relative;
  border: 2px solid black;
  position: relative;
  top: -25;
}
#playerIcon2 {
  background-color: rgb(173,111,186);
  background-image: url('./images/pieces/p2.png');
  height: 20px;
  width: 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  border-radius: 50%;
  position: relative;
  border: 2px solid black;
  position: relative;
  top: -25;
}
#playerIcon3 {
  background-color: rgb(64,174,161);
  background-image: url('./images/pieces/p3.png');
  height: 20px;
  width: 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  border-radius: 50%;
  position: relative;
  border: 2px solid black;
  position: relative;
  justify-self: baseline;
  top: -25;
}
#playerIcon4 {
  background-color: rgb(236,138,139);
  background-image: url('./images/pieces/p4.png');
  height:20px;
  width: 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  border-radius: 50%;
  position: relative;
  border: 2px solid black;
  position: relative;
  top: -25;
}
.player1 {
  width: 25%;
  height: 100%;
  border: 2px solid black;
  border-radius: 25px;
  margin: 5px;
  text-align: center;
  background-color: rgb(204,38,62);
}
.player2 {
  width: 25%;
  height: 100%;
  border: 2px solid black;
  border-radius: 25px;
  margin: 5px;
  text-align: center;
  background-color: rgb(173,111,186);
}
.player3 {
  width: 25%;
  height: 100%;
  border: 2px solid black;
  border-radius: 25px;
  margin: 5px;
  text-align: center;
  background-color: rgb(64,174,161);
}
.player4 {
  width: 25%;
  height: 100%;
  border: 2px solid black;
  border-radius: 25px;
  margin: 5px;
  text-align: center;
  background-color: rgb(236,138,139);
}
.playerSlot {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.dice {
  position: absolute;
  top: 66%;
  left: 48.6%;
}
.firstNumber {
  position: absolute;
  background-color: white;
  width: 38px;
  height: 68px;
  top: -370%;
  left: -103%;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
}
.secondNumber {
  position: absolute;
  background-color: white;
  width: 38px;
  height: 68px;
  top: -370%;
  left: 103%;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui;
}