body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game {
  visibility: hidden;
}

.space {
  position: relative;
  text-align: center;
}
.space > span {
  position: relative;
  top: 5%;
}

.space > div  {
  border: 2px solid black;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 44px;
}

#freeParking > div, #kentuckyAve > div, #indianaAve > div, #illinoisAve > div, #boRailRoad > div, #atlanticAve > div, #ventnorAve > div, #waterWorks > div, #marvinGardens > div, #goToJail > div, #inJail > div, #connecticutAve > div, #vermontAve > div, #orientalAve > div,#readingRailroad > div, #incomeTax > div, #balticAve > div, #mediterraneanAve > div, #go > div, #ventureFund1 > div, #sharkTank1 > div, #sharkTank2 > div {
  position: absolute;
  top: 79%
}

.setup > h2 {
  padding: 50px;
}
.setup {
  position: absolute;
  top: 10%;
  border-radius: 25%;
  background-color: red;
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form > div {
  position: relative;
  padding: 20px;
}
form > button {
  position: absolute;
  top: 75%;
  height: 50;
  width: 200;
  border-radius: 10%;
}

.playerSelect {
  position: relative;
}
.cashSelect {
  position: relative;
  top: -50
}

.welcome {
  position: absolute;
  font-size: 76px;
  top: -43px;
}

select {
  padding: 10px;
  border-radius: 10%;
  margin: 10px;
  width: 140px
}

.boardContainer {
  border: 5px solid black;
  width: 1200px;
  height: 883px;
  position: relative;
}

.gameBoard {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(194,226,196);
}

.dice {
  position: absolute;
  top: 75%;
  left: 50%;
}

.roll {
  position: absolute;
  height : 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60%;
  left: 47%
}

.number {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  margin: 5px;
  font-size: 60;
  text-align: center;
}

.venture {
  position: absolute;
  border: 2px solid black;
  transform: rotate(-45deg);
  text-align: center;
  width: 200px;
  height: 100px;
  top: 21%;
  left: 11%;
  background-color: rgb(74,192,244);
}

.sharks {
  position: absolute;
  border: 2px solid black;
  transform: rotate(45deg);
  text-align: center;
  width: 200px;
  height: 100px;
  top: 21%;
  left: 72%;
  background-color: rgb(239,95,25);
}

.square {
  border: 2px solid black;
  text-align: center;
}

.square:hover {
  cursor: pointer;
  box-shadow: 2px 2px;
}

a.close {
  color: white;
  text-decoration: none;
  position: absolute;
  left: 91%;
  top: 6%
}

#mediterraneanAve, #balticAve {
  background-color: rgb(129,66,41);
  color: white
}
#orientalAve, #vermontAve, #connecticutAve {
  background-color: rgb(156,217,248);
}
#stCharlesPlace, #statesAve, #virginiaAve {
  background-color: rgb(206,29,132);
  color: white
}
#stJamesPlace, #tennesseeAve, #newYorkAve {
  background-color: rgb(242,129,24);
}
#kentuckyAve, #indianaAve, #illinoisAve {
  background-color: rgb(232,0,28);
  color: white
}
#atlanticAve, #ventnorAve, #marvinGardens {
  background-color: rgb(253,242,12);
}
#pacificAve, #northCarolinaAve, #pennAve {
  background-color: rgb(32,166,73);
}
#parkPlace, #boardWalk {
  background-color: rgb(11, 93, 171);
  color: white
}
#go {
  background-image: url('../images/square/newgo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#ventureFund1, #ventureFund2, #ventureFund3 {
  background-image: url('../images/square/communitychest.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#boRailroad, #readingRailroad, #pennRailroad, #shortLineRailroad {
  background-image: url('../images/square/train.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#inJail {
  background-image: url('../images/square/injail.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#electricCompany {
  background-image: url('../images/square/electric.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#luxuryTax {
  background-image: url('../images/square/luxury.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#freeParking {
  background-image: url('../images/square/freeparking.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#sharkTank1, #sharkTank2, #sharkTank3 {
  background-image: url('../images/square/chance.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#incomeTax {
  background-image: url('../images/square/incometax.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#waterWorks {
  background-image: url('../images/square/waterworks.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#goToJail {
  background-image: url('../images/square/gotojail.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.topRow, .bottomRow, .middleNine{
  /* 11x1 full stretch */
  display: grid;
  grid-template-columns: 120px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 106.66px 120px;
  grid-template-rows: 120px;
  border: 1px solid black;
}

.topRow > div, .middleNine> div, .bottomRow > div {
  border: 2px solid black;
  text-align: center;
  font-size: 11;
}

.middleNine {
  /* eight 9x2 with grid column gap @ 960px */
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px 71.44px;
  grid-column-gap: 960px;
}

.playerInfoContainer {
  height: 10%;
  display: flex;
  margin-top: 75px;
  justify-content: center;
  align-items: baseline;
}

.player {
  width: 25%;
  height: 100%;
  border: 2px solid black;
  border-radius: 25px;
  margin: 5px;
  text-align: center;
}

.showCard {
  border: 2px solid black;
  background-color: white;
  width: 315px;
  height: 370px;
  position: absolute;
  top: 42%;
  left: 12%;
  font-size: 13px;
  text-align: center;
}

.showCard > h2 {
  color: white;
  background-color: black;
  height: 50px;
}

#playerIcon1 {
  position: absolute;
  height: 30px;
  width: auto;
  top: 85px;
  left: 5px;
}  
#playerIcon2 {
  position: absolute;
  height: 30px;
  width: auto;
  top: 85px;
  left: 28px;
}  
#playerIcon3 {
  position: absolute;
  height: 30px;
  width: auto;
  top: 85px;
  left: 50px;
}  
#playerIcon4 {
  position: absolute;
  height: 30px;
  width: auto;
  top: 85px;
  left: 71px;
}  
